<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Lógica Proposicional - O que é um argumento?</h5>
        </div>
        <div class="card-body">
          <h5 class="m-0 font-weight-bold text-primary"></h5>
          <p></p>
          <p>Lógica é o estudo de argumentos. Um argumento é uma <code>seqüência de enunciados</code>. Esses enunciados
              podem ser classificados como: premissas ou conclusão. Um argumento é formado por zero ou mais
              premissas e por uma conclusão.</p>
              
              <p>Exemplo: <em> Se é dia, então há luz. É dia. Logo, há luz.</em></p>

              <p>1ª Premissa:  <em>Se é dia, então há luz. </em><br>
              2ª Premissa: <em> É dia. </em><br>
              Indicador de conclusão: <em>Logo.</em><br>
              Conclusão:<em> há luz.</em>
              </p>
              <p>
              As premissas e a conclusão de um argumento são sempre <code>enunciados ou proposições</code> - isto é,
              significados ou idéias expressáveis por sentenças declarativas - em oposição às sentenças
              interrogativas, exclamativas ou expressam “comando”. Os enunciados são espécies de idéias
              verdadeiras ou falsas. Os não-enunciados, tais como interrogações, comandos ou exclamações, não
              podem ser expressos simplesmente pela verdade ou falsidade.</p>
          
        </div>
      </div>
      <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Identificando Argumentos</h5>
          </div>
          <div class="card-body">
            <p>Um argumento ocorre somente quando se pretende sustentar ou provar uma conclusão a partir de
                um conjunto de premissas. Esse propósito é freqüentemente expresso pelo uso de <code>indicadores de
                inferência.</code> Indicadores de Inferência são palavras ou frases utilizadas para assinalar a presença de
                um argumento. Eles são de duas espécies: <code> indicadores de conclusão e indicadores de premissas. </code>
            </p>
            <div class="container">
            <div class="col-md-10 offset-md-1"> 
            <table class="table table-sm">
                <thead class="thead-light" >
                  <tr>
                    <th scope="col" colspan="2">Indicadores de Conclusão</th>
                    <th scope="col" colspan="2">Indicadores de Premissa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>portanto</td>
                    <td>por conseguinte</td>
                    <td>pois</td>
                    <td>desde que </td>
                  </tr>
                  <tr>
                    <td>assim</td>
                    <td>dessa maneira </td>
                    <td>como</td>
                    <td>porque </td>
                  </tr>
                  <tr>
                    <td>neste caso</td>
                    <td>daí </td>
                    <td>assumindo que </td>
                    <td>visto que</td>
                  </tr>
                  <tr>
                    <td>logo</td>
                    <td>de modo que</td>
                    <td>admitindo que</td>
                    <td>isto é verdade porque</td>
                  </tr>
                  <tr>
                    <td>então</td>
                    <td>consequentemente</td>
                    <td>a razão é que</td>
                    <td>em vista de </td>
                  </tr>
                  <tr>
                    <td>assim sendo</td>
                    <td>segue-se que</td>
                    <td>como conseqüência de </td>
                    <td>como mostrado pelo fato que</td>
                  </tr>
                  <tr>
                    <td>logo</td>
                    <td>de modo que</td>
                    <td>admitindo que</td>
                    <td>isto é verdade porque</td>
                  </tr>
                  <tr>
                    <td>então</td>
                    <td>consequentemente</td>
                    <td>a razão é que</td>
                    <td>em vista de </td>
                  </tr>
                  <tr>
                    <td>assim sendo</td>
                    <td>segue-se que</td>
                    <td>como conseqüência de </td>
                    <td>como mostrado pelo fato que</td>
                  </tr>
                  <tr>
                    <td>o (a) qual implica que</td>
                    <td>o (a) qual acarreta que</td>
                    <td>dado que</td>
                    <td>sabendo-se que </td>
                  </tr>
                  <tr>
                    <td>o (a) qual prova que</td>
                    <td>o (a) qual significa que </td>
                    <td>supondo que</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>do (da) qual inferimos que</td>
                    <td>resulta que</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>podemos deduzir que</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p>
              Os <code>indicadores de premissa e conclusão</code> são os principais indícios para se identificar argumentos e
              para se analisar a sua estrutura. Quando colocado entre duas sentenças, um indicador de conclusão
              assinala que a primeira sentença expressa uma premissa e a segunda sentença expressa uma
              conclusão daquela premissa; num mesmo contexto, um indicador de premissa assinala o contrário.</p>
              <p>
              Vejamos:<br>
              &nbsp;&nbsp;&nbsp;&nbsp; • Ele não está em casa; portanto, ele foi passear. <br>
              &nbsp;&nbsp;&nbsp;&nbsp; • Ele não está em casa pois ele foi passear. 
          </p>
        </div>
      </div>
      <!-- Brand Buttons -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Formalização</h5>
        </div>
        <div class="card-body">
          <p>As técnicas de prova de cálculo proposicional constituem uma parte do estudo de sua sintaxe, isto é,
              de sua gramática. O processo de formalização converte uma sentença ou argumento em uma forma
              sentencial ou uma forma de argumento, uma estrutura composta de <code>letras sentenciais</code> e <code>operadores
              lógicos.</code>
          </p>
            <div class="container">
                <div class="col-md-8 offset-md-2"> 
                <table class="table table-sm">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Operador Lógico</th>
                        <th scope="col">Símbolo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Negação</td>
                        <td>Não é o caso que</td>
                        <td>~ ou ¬</td>
                      </tr>
                      <tr>
                        <td>Conjunção </td>
                        <td>E</td>
                        <td>∧</td>
                      </tr>
                      <tr>
                        <td>Disjunção </td>
                        <td>Ou</td>
                        <td>∨</td>
                      </tr>
                      <tr>
                        <td>Condicional</td>
                        <td>Se... então</td>
                        <td>→</td>
                      </tr>
                      <tr>
                        <td>Bicondicional </td>
                        <td>Se e somente se</td>
                        <td>↔</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            <p>Exemplo de Formalização:</p>
            <p>Argumento: <em> “Se é dia, então há luz. É dia. Logo, há luz.” </em><br>
              A formalização começa com a atribuição de uma letra sentencial P 
              para representar a premissa é dia e a letra sentencial Q 
              para representar a premissa há luz: <br>
              • <strong>P</strong>: <em> é dia </em><br>
              • <strong>Q</strong>: <em> há luz </em>
            </p>
            <p>
              Para cada parte da sentença (premissas e conclusão),
               há uma letra sentencial, ou uma combinação destas letras 
               ligadas por conectivos para representar uma relação entre elas.
                No caso do exemplo em específico, temos o conectivo condicional 
                “→” gerando uma proposição composta através da ligação de duas premissas. 
                A sequência abaixo mostra os passos para a formalização completa da sentença.
                 Primeiramente é necessário dividir a sentença em premissas e 
                 conclusão e atribuir a letra sentencial para cada uma delas:
            </p>
            <p><em>Se é dia, então há luz: </em> <strong> P→Q</strong>  (Premissa 1 composta) <br>
              <em>É dia: </em> <strong>P</strong> (Premissa 2 simples) <br>
              <em>Logo, há luz: </em> <strong>Q</strong> (Conclusão)
            </p>
            <p>Após a divisão e formalização de cada parte individualmente, 
              basta montar a sentença formalizada como é mostrado abaixo:
            </p>
            <p>Formalização da sentença: <strong>P→Q, P⊢Q</strong>
            </p>
        <div class="col-md-2 offset-md-10">
          <button class="btn btn-success"  (click)="sendResponse()">
            <span>Concluir</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
